
* {
  margin: 0;
}

.title {
  margin-left: 4rem;
  margin-top: 2rem;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.score-container {
  margin: 0 5rem;
}

.score-title {
  display: flex;
  margin-bottom: 2rem;
}

.score {
  width: 300px;
  height: 200px;
  border: 2px solid black;
}

.addscore-container {
  width: 300px;
  height: 250px;
}

.addscore-container h2 {
  margin-bottom: 2rem;
}

.refresh {
  margin-left: 1rem;
  box-shadow: 2px 2px 0 0 black;
  padding-left: 4%;
  padding-right: 4%;
  border: 2px solid black;
}

.info {
  margin: 15px;
  border: 2px solid black;
}

.submit {
  box-shadow: 2px 2px 0 0 black;
  border: 2px solid black;
}

.submit-button {
  margin-left: 9rem;
}
